.featured-video {
  padding: 40px 0;
  .video-title {
    font-family: 'Lucida Grande';
    font-size: 27px;
    font-weight: 600;
  }
  .video-description {
    color: #6d6c6c;
    font-family: 'Lucida Grande';
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8em;
  }
}
