i.icon-calendar {
  &:before {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
    content: '';
    background: url('/public/images/calendar.png');
  } 
}

.footer {
  padding: 15px 0;
  h1 {
    color: #a50f2d;
    text-transform: uppercase;
    font-size: 20px;
  }
  h2 {
    a {
      color: #403d3a;
    }
    font-size: 17px;
    font-family: 'Lucida Grande';
    font-weight: 600;
  }
  .news-date {
    color: #6d6c6c;
    font-family: 'Lucida Grande';
    font-size: 13px;
  }
}
