.ships {
  background-attachment: fixed;
  background-image: url('/public/images/ships.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
}

.spacer {
  min-height: 450px;
}
