ul.social-buttons {
  background: rgba(2,2,2,0.67);
  top: 89px;
  margin: 0;
  padding: 0 5px;
  li {
    padding: 10px 3px;
    display: inline-block;
  }
  a {
    img {

      transition: 0.5s all ease;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }
}
