@import './stylesheets/hero.scss';
@import './stylesheets/featuredVideo.scss';
@import './stylesheets/ships.scss';
@import './stylesheets/footer.scss';
@import './stylesheets/socialButtons.scss';

@media only screen and (min-width : 768px) {
  .hero {
    background-size: 100% auto;
    background-position: center top;
  }
  .navbar-galatica {
    .navbar-nav {
      li {
        a {
          padding: 32px 5px;
        }
      }
    }
  }
}
@media (min-width: 991px) {
  .hero {
    background-size: cover;
    background-position: center bottom;
  }
}

@media (max-width: 991px) {
    .hero {
      background-size: cover;
      background-position: center bottom;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media only screen and (min-width : 992px) {
  .hero .navbar-galatica .navbar-brand {
    max-width: 100%;
  }
}

@media only screen and (min-width : 1200px) {
}
